:root{
  --bottomAlign: 20%;
  --menuHeight: 333px;
}

.expandible{
  position: fixed;
  bottom: var(--bottomAlign); 
  z-index: 1;
}

.menu{
  position: absolute;
  bottom: var(--bottomAlign);
  background-color: white;
  overflow: hidden;
  width: 200px;
  height: 0px;
  transition: height 1s;
}

.subMenu{


}
.active{
  display: list-item;
  height: var(--menuHeight);
}

.menu > li{
		font-size: 16px;
		list-style-position: inside;
		padding: 10px;
		margin: 1px auto auto -40px;
		background-color: rgba(0,165,8,0.75);
		color: white;
		line-height: 20px;
		border: solid 1px yellow;
	}
.menu a{
	text-decoration: none;
}

li:hover{
		background-color: #3FC2BC;
		font-size: 18px;
	}

