:root{
  --menuHeight: 333px;
}

.expandible{
  position: fixed;
  bottom: 20%;
  padding: 0.46em 1.6em;
  border: 0.1em solid #000000;
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  color: #000000;
  background: linear-gradient(45deg, hsl(0, 0%, 100%), hsl(0, 0%, 80%));
  text-align: center;
  transition: all 0.15s;
  z-index: 1;
}

.expandible:hover{
  background: linear-gradient(45deg, hsl(50, 50%, 90%), hsl(50, 50%, 60%));
  border: 0.1em solid #E9990D;
}

.menu{
  position: fixed;
  bottom: 10%;
  margin-left: 100px;
  background-color: white;
  overflow: hidden;
  width: 200px;
  height: 0px;
  transition: height 1s;
}

.popup{
  display: list-item;
  height: var(--menuHeight);
}

.menu > li{
	font-size: 16px;
	list-style-position: inside;
	padding: 10px;
	margin: 1px auto auto -40px;
	background-color: rgba(0,165,8,0.75);
	color: white;
	line-height: 20px;
	border: solid 1px yellow;
	}

.menu a{
	text-decoration: none;
	color: white;
}

.menu li:hover{
	background-color: #3FC2BC;
}

.subMenu{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

}

.subMenu > li{
	padding: 5px;
	margin-left: -30px;
}

.subMenu > li:hover{
	background-color: #174CE7;
}